@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$primary: #bcd3e0;
$secondary: #3a424a;
$lighter: #d9e5ed;
$darker: #2b3035;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$header-font: 'Bona Nova SC', serif;
$body-font: 'Lato', sans-serif;

@mixin section-container($color: white) {
    background-color: $color;
    min-width: 400px;
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 60px;
}

